{% extends 'base.html' %}
{% block extrahead %}
    <script src="//cdn.bootcss.com/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>
    <link href="//cdn.bootcss.com/jquery-confirm/2.5.1/jquery-confirm.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2>选择题</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for choice_problem in choice_problems %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ choice_problem.detail.id }}">
                        <h4 class="panel-title">
                            <a {% if not forloop.first %}class="collapsed"{% endif %}role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse{{ choice_problem.detail.id }}"
                               aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                               aria-controls="collapse{{ choice_problem.detail.id }}">
                                {{ forloop.counter }}. ({{ choice_problem.score }}分) {{ choice_problem.detail.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ choice_problem.detail.id }}"
                         class="panel-collapse collapse {% if forloop.first %}in{% endif %}" role="tabpanel"
                         aria-labelledby="heading{{ choice_problem.detail.id }}">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <label class="checkbox-inline">
                                        <input type="radio" id="selection-{{ choice_problem.detail.id }}" value="a"
                                               name="selection-{{ choice_problem.detail.id }}">
                                        A.{{ choice_problem.detail.a }}
                                    </label>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <label class="checkbox-inline">
                                        <input type="radio" id="selection-{{ choice_problem.detail.id }}" value="b"
                                               name="selection-{{ choice_problem.detail.id }}">
                                        B.{{ choice_problem.detail.b }}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <label class="checkbox-inline">
                                        <input type="radio" id="selection-{{ choice_problem.detail.id }}" value="c"
                                               name="selection-{{ choice_problem.detail.id }}">
                                        C.{{ choice_problem.detail.c }}
                                    </label>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label class="checkbox-inline">
                                        <input type="radio" id="selection-{{ choice_problem.detail.id }}" value="d"
                                               name="selection-{{ choice_problem.detail.id }}">
                                        D.{{ choice_problem.detail.d }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <h2>编程题</h2>
        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            {% for problem in problems %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-{{ problem.problem_id }}">
                        <h4 class="panel-title">
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion2"
                               href="#collapse-{{ problem.problem_id }}"
                               aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                               aria-controls="collapse-{{ problem.problem_id }}">
                                {{ forloop.counter }}.{{ problem.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-{{ problem.problem_id }}"
                         class="panel-collapse collapse "
                         role="tabpanel"
                         aria-labelledby="heading-{{ problem.problem_id }}">
                        <div class="panel-body">
                            <div class="section">
                                <h4><span class="label label-primary">题目描述</span></h4>
                                <div id="description"><p>{{ problem.description|safe|linebreaks }}</p></div>
                            </div>
                            <div class="section">
                                <h4><span class="label label-primary">输入</span></h4>
                                <div id="input"><p>{{ problem.input|safe|linebreaks }}</p></div>
                            </div>
                            <div class="section">
                                <h4><span class="label label-primary">输出</span></h4>
                                <div id="output"><p>{{ problem.output|safe|linebreaks }}</p></div>
                            </div>
                            {% if problem.sample_output %}
                                <div class="section">
                                    <h4><span class="label label-info">样例输入1:</span></h4>
                                    <div id="sample_input">
                                        <pre>{{ problem.sample_input|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                                <div class="section">
                                    <h4><span class="label label-info">样例输出1:</span></h4>
                                    <div id="sample_output">
                                        <pre>{{ problem.sample_output|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                            {% endif %}
                            {% if problem.sample_output2 %}
                                <div class="section">
                                    <h4><span class="label label-primary">样例输入2:</span></h4>
                                    <div id="sample_input2">
                                        <pre>{{ problem.sample_input2|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                                <div class="section">
                                    <h4><span class="label label-primary">样例输出2:</span></h4>
                                    <div id="sample_output2">
                                        <pre>{{ problem.sample_output2|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                            {% endif %}
                            <div id="answer-area">
                                <div class="form-group">
                                    <label for="language" class="control-label">语言</label>
                                    <select name="language-{{ problem.problem_id }}" class="form-control language"
                                            id="language-{{ problem.problem_id }}">

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="source{{ problem.problem_id }}">代码</label>
                                    <textarea class="form-control" cols="50" rows="10"
                                              name="source-{{ problem.problem_id }}"
                                              id="source{{ problem.problem_id }}" spellcheck="false"></textarea>
                                </div>
                            </div>
                            <div id="result-{{ problem.problem_id }}"></div>
                            <button class="btn btn-success" id="button-{{ problem.problem_id }}"
                                    onclick="test_run({{ problem.problem_id }});return false;"><span
                                    class="glyphicon glyphicon-play"></span>测试运行
                            </button>
                            测试运行得分：<span id="score-{{ problem.problem_id }}"></span>
                            <input type="hidden" name="score-{{ problem.problem_id }}"
                                   id='score-input-{{ problem.problem_id }}'>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2>程序填空题</h2>
        <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
            {% for problem in tiankong_problems%}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-{{ problem.problem_id }}">
                        <h4 class="panel-title">
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion3"
                               href="#collapse-x-{{ problem.problem_id }}"
                               aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                               aria-controls="collapse-{{ problem.problem_id }}">
                                {{ forloop.counter }}.{{ problem.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-x-{{ problem.problem_id }}"
                         class="panel-collapse collapse "
                         role="tabpanel"
                         aria-labelledby="heading-{{ problem.problem_id }}">
                        <div class="panel-body">
                            <div class="section">
                                <h4><span class="label label-primary">题目描述</span></h4>
                                <div id="description"><p>{{ problem.description|safe|linebreaks }}</p></div>
                            </div>
                            <div class="section">
                                <h4><span class="label label-primary">输入</span></h4>
                                <div id="input"><p>{{ problem.input|safe|linebreaks }}</p></div>
                            </div>
                            <div class="section">
                                <h4><span class="label label-primary">输出</span></h4>
                                <div id="output"><p>{{ problem.output|safe|linebreaks }}</p></div>
                            </div>
                            {% if problem.sample_output %}
                                <div class="section">
                                    <h4><span class="label label-info">样例输入1:</span></h4>
                                    <div id="sample_input">
                                        <pre>{{ problem.sample_input|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                                <div class="section">
                                    <h4><span class="label label-info">样例输出1:</span></h4>
                                    <div id="sample_output">
                                        <pre>{{ problem.sample_output|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                            {% endif %}
                            {% if problem.sample_output2 %}
                                <div class="section">
                                    <h4><span class="label label-primary">样例输入2:</span></h4>
                                    <div id="sample_input2">
                                        <pre>{{ problem.sample_input2|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                                <div class="section">
                                    <h4><span class="label label-primary">样例输出2:</span></h4>
                                    <div id="sample_output2">
                                        <pre>{{ problem.sample_output2|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                            {% endif %}
                            <div id="answer-area">
                                <div class="form-group">
                                    <label for="language" class="control-label">语言</label>
                                    <select name="language-{{ problem.problem_id }}" class="form-control language"
                                            id="language-{{ problem.problem_id }}">

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="source{{ problem.problem_id }}">代码</label>
                                    <textarea class="form-control" cols="50" rows="10"
                                              name="source-{{ problem.problem_id }}"
                                              id="source{{ problem.problem_id }}" spellcheck="false">{{ problem.program}}</textarea>
                                </div>
                            </div>
                            <div id="result-{{ problem.problem_id }}"></div>
                            <button class="btn btn-success" id="button-{{ problem.problem_id }}"
                                    onclick="test_run2({{ problem.problem_id }});return false;"><span
                                    class="glyphicon glyphicon-play"></span>测试运行
                            </button>
                            测试运行得分：<span id="score-{{ problem.problem_id }}"></span>
                            <input type="hidden" name="score-{{ problem.problem_id }}"
                                   id='score-input-{{ problem.problem_id }}'>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
         <h2>程序改错题</h2>
        <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
            {% for problem in gaicuo_problems%}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-{{ problem.problem_id }}">
                        <h4 class="panel-title">
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion4"
                               href="#collapse-y-{{ problem.problem_id }}"
                               aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                               aria-controls="collapse-{{ problem.problem_id }}">
                                {{ forloop.counter }}.{{ problem.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-y-{{ problem.problem_id }}"
                         class="panel-collapse collapse "
                         role="tabpanel"
                         aria-labelledby="heading-{{ problem.problem_id }}">
                        <div class="panel-body">
                            <div class="section">
                                <h4><span class="label label-primary">题目描述</span></h4>
                                <div id="description"><p>{{ problem.description|safe|linebreaks }}</p></div>
                            </div>
                            <div class="section">
                                <h4><span class="label label-primary">输入</span></h4>
                                <div id="input"><p>{{ problem.input|safe|linebreaks }}</p></div>
                            </div>
                            <div class="section">
                                <h4><span class="label label-primary">输出</span></h4>
                                <div id="output"><p>{{ problem.output|safe|linebreaks }}</p></div>
                            </div>
                            {% if problem.sample_output %}
                                <div class="section">
                                    <h4><span class="label label-info">样例输入1:</span></h4>
                                    <div id="sample_input">
                                        <pre>{{ problem.sample_input|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                                <div class="section">
                                    <h4><span class="label label-info">样例输出1:</span></h4>
                                    <div id="sample_output">
                                        <pre>{{ problem.sample_output|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                            {% endif %}
                            {% if problem.sample_output2 %}
                                <div class="section">
                                    <h4><span class="label label-primary">样例输入2:</span></h4>
                                    <div id="sample_input2">
                                        <pre>{{ problem.sample_input2|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                                <div class="section">
                                    <h4><span class="label label-primary">样例输出2:</span></h4>
                                    <div id="sample_output2">
                                        <pre>{{ problem.sample_output2|safe|linebreaks }}</pre>
                                    </div>
                                </div>
                            {% endif %}
                            <div id="answer-area">
                                <div class="form-group">
                                    <label for="language" class="control-label">语言</label>
                                    <select name="language-{{ problem.problem_id }}" class="form-control language"
                                            id="language-{{ problem.problem_id }}">

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="source{{ problem.problem_id }}">代码</label>
                                    <textarea class="form-control" cols="50" rows="10"
                                              name="source-{{ problem.problem_id }}"
                                              id="source{{ problem.problem_id }}" spellcheck="false">{{ problem.program}}</textarea>
                                </div>
                            </div>
                            <div id="result-{{ problem.problem_id }}"></div>
                            <button class="btn btn-success" id="button-{{ problem.problem_id }}"
                                    onclick="test_run({{ problem.problem_id }});return false;"><span
                                    class="glyphicon glyphicon-play"></span>测试运行
                            </button>
                            测试运行得分：<span id="score-{{ problem.problem_id }}"></span>
                            <input type="hidden" name="score-{{ problem.problem_id }}"
                                   id='score-input-{{ problem.problem_id }}'>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </form>
    <button class="btn btn-primary" onclick="check()">提交作业</button>
    <button class="btn btn-default" onclick="save()">暂存作业，不提交</button>

    <script>
        var languages = {
            0: 'C',
            1: 'C++',
            2: 'Pascal',
            3: 'Java',
            4: 'Ruby',
            5: 'Bash',
            6: 'Python'
        };
        var allowed_languages = '{{ homework.allowed_languages }}'.split(',');
        for (var i = 0; i < allowed_languages.length; i++) {
            $(".language").append("<option value=\"" + allowed_languages[i] + "\">" + languages[allowed_languages[i]] + "</option>");
        }
        function check() {
            $.confirm({
                title: '确认提交',
                content: '确定要提交作业吗？作业只能提交一次，提交后您将无法再修改答案',
                confirmButton: '我已检查完成，确定提交',
                cancelButton: '取消',
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',
                confirm: function () {
                    $.confirm({
                        title: false, // hides the title.
                        cancelButton: false,// hides the cancel button.
                        confirmButton: false, // hides the confirm button.
                        closeIcon: false, // hides the close icon.
                        content: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> <span class="sr-only">正在上传你的答案,请稍等</span>正在上传你的答案,请稍等' // hides content block.
                    });
                    $("form").submit();
                }
            });
        }
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        function save() {
            $.confirm({
                        title: false, // hides the title.
                        cancelButton: false,// hides the cancel button.
                        confirmButton: false, // hides the confirm button.
                        closeIcon: false, // hides the close icon.
                        content: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> <span class="sr-only">正在上传你的答案,请稍等</span>正在上传你的答案,请稍等' // hides content block.
                    });
            var htmlstr = '<input type="hidden" name="homework_id" size="20" value="{{ homework.id }}"/>';
            $("form").append(htmlstr);
            $("form").attr("action", "{% url 'save_homework' %}");
            $("form").submit()
        }
        function test_run(id) {
            var result_div = $("#result-" + id);
            var score_span = $("#score-" + id);
            var score_input = $("#score-input-" + id);
            result_div.html('<div class="alert alert-default" role="alert"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>正在判断程序运行情况</div>')
            $.ajax({
                type: "post",
                url: "{% url 'test_run' %}",
                dataType: "json",
                data: {
                    'type': 'upload',
                    'problem_id': id,
                    'code': $('#source' + id).val(),
                    'language': $('#language-' + id).val(),
                    'homework_id':{{ homework.id }}
                },
                success: function (data) {
                    if (data.result == 1) {
                        var int = setInterval(function () {
                                    $.ajax({
                                        type: "post",
                                        url: "{% url 'test_run' %}",
                                        dataType: "json",
                                        data: {
                                            'type': 'score',
                                            'solution_id': data.solution_id,
                                            'problem_id': id,
                                            'homework_id':{{ homework.id }}
                                        },
                                        success: function (data) {
                                            if (data.status == 1) {
                                                switch (data.result) {
                                                    case 0:
                                                        result_div.html('<div class="alert alert-danger" role="alert"><pre>' + data.info.info + '</pre></div>');
                                                        break;
                                                    case 1:
                                                        result_div.html('<div class="alert alert-warning" role="alert">' + '总共' + data.info.total_cases + '个测试点，你通过了其中的' + data.info.right_num + '个' + '</div>')
                                                        break;
                                                    case 2:
                                                        result_div.html('<div class="alert alert-success" role="alert">恭喜你通过了所有的测试点</div>')
                                                }
                                                score_span.html(data.info.score);
                                                score_input.val(data.info.score)
                                                int = window.clearInterval(int)
                                            } else(
                                                    result_div.html('<div class="alert alert-default" role="alert"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>正在判断程序运行情况</div>')
                                            )
                                        }
                                    })
                                },
                                1000);
                    }
                }
            });
            return false;
        }

         function test_run2(id) {
            var result_div = $("#result-" + id);
            var score_span = $("#score-" + id);
            var score_input = $("#score-input-" + id);
            result_div.html('<div class="alert alert-default" role="alert"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>正在判断程序运行情况</div>')
            $.ajax({
                type: "post",
                url: "{% url 'test_run2' %}",
                dataType: "json",
                data: {
                    'type': 'upload',
                    'problem_id': id,
                    'code': $('#source' + id).val(),
                    'language': $('#language-' + id).val(),
                    'homework_id':{{ homework.id }}
                },
                success: function (data) {
                    if (data.result == 1) {
                        var int = setInterval(function () {
                                    $.ajax({
                                        type: "post",
                                        url: "{% url 'test_run2' %}",
                                        dataType: "json",
                                        data: {
                                            'type': 'score',
                                            'solution_id': data.solution_id,
                                            'problem_id': id,
                                            'homework_id':{{ homework.id }}
                                        },
                                        success: function (data) {
                                            if (data.status == 1) {
                                                switch (data.result) {
                                                    case 0:
                                                        result_div.html('<div class="alert alert-danger" role="alert"><pre>' + data.info.info + '</pre></div>');
                                                        break;
                                                    case 1:
                                                        result_div.html('<div class="alert alert-warning" role="alert">' + '总共' + data.info.total_cases + '个测试点，你通过了其中的' + data.info.right_num + '个' + '</div>')
                                                        break;
                                                    case 2:
                                                        result_div.html('<div class="alert alert-success" role="alert">恭喜你通过了所有的测试点</div>')
                                                }
                                                score_span.html(data.info.score);
                                                score_input.val(data.info.score)
                                                int = window.clearInterval(int)
                                            } else(
                                                    result_div.html('<div class="alert alert-default" role="alert"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>正在判断程序运行情况</div>')
                                            )
                                        }
                                    })
                                },
                                1000);
                    }
                }
            });
            return false;
        }

        //导入暂存作业数据
        $(function () {
            $.ajax({
                type: "post",
                url: "{% url 'get_init_homework_data' %}",
                dataType: "json",
                data: {
                    'homework_id':{{ homework.id }}
                },
                success: function (data) {
                    if(data.result==1){
                    $.each(data.data, function (key, value) {
                        if(key.indexOf('language')!=-1){
                            $("select[name="+key+"] option[value="+value+"]").attr("selected", true);
                        }
                        if(key.indexOf('selection')!=-1){
                            $("input[type='radio'][name="+key+"][value="+value+"]").prop("checked", true)
                        }
                        if(key.indexOf('source')!=-1){
                            $("textarea[name="+key+"]").val(value)
                        }
                    });}
                }
            })
        })
    </script>
{% endblock %}